<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
	    <h2>Wavelet Transform of signal</h2>
        <p>
		<img src="{{url_for('static', filename=image_1)}}" />
		</p>
        <p>
		<img src="{{url_for('static', filename=image_2)}}" />
		</p>
        <p>
		<img src="{{url_for('static', filename=image_3)}}" />
		</p>
		<h2>Prediction Result</h2>
		<p>
		<p>{{classes}} </p>
		</p>
    </body>
</html>