<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
	    <h2>Frequency of the baseline signal</h2>
        <p>
		<img src="{{url_for('static', filename=baseline_image)}}" />
		</p>
		<h2>Frequency of the current signal</h2>
		<p>
		<img src="{{url_for('static', filename=current_image)}}" />
		</p>
		</p>
		<h2>Similarity Between Two Signals</h2>
		<p>
		<p>{{similarity}} </p>
		</p>
		<h2>Max Frequency</h2>
		<p>
		<p>{{max_freq}} </p>
		</p>  
		<h2>Upper Limit of Frequency</h2>
		<p>
		<p>{{upper_limit}} </p>
		</p>
		<h2>Lower Limit of Frequency</h2>
		<p>
		<p>{{lower_limit}} </p>
		</p>
		<h2>Status</h2>
		<p>
		<p>{{status}} </p>
		</p>
    </body>
</html>